footer {
  border-top: solid 1px rgba(105, 105, 105, 0.2);
  margin-top: 100px;
}
footer ul {
  display: flex;
}

footer ul li {
  margin-right: 2px;
}

.fa {
  width: 40px;
  height: 40px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.3s ease;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}
.fa:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
.fa-facebook {
  background-image: url('../svg/sc2.svg');
  position: relative;
  top: -4px;
}
.fa-twitter {
  background-image: url('../svg/sc3.svg');
}
.fa-telegram {
  background-image: url('../svg/sc4.svg');
}
