#banner-animation {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 0;
}
.btn {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 1px solid;
  padding: 14px 22px;
  border-radius: 5px;
  position: relative;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}
.btn:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
.stars {
  background-image: url('../imgs/stars.png');
  background-repeat: repeat;
  background-position: center;
}
.bg-pattern {
  background-image: url('../imgs/pricing-banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* 首屏 */

.home-banner {
  padding-top: 15rem;
  height: 100vh;
  background: url('../imgs/top.jpg');
}
.home-banner h1 {
  margin: 0 0 1.5rem 0;
}
.home-banner p {
  line-height: 4rem;
}
.bannerUl {
  display: flex;
  justify-content: center;
}

ul.bannerUl li {
  margin: 0 25px;
  cursor: pointer;
  position: relative;
  z-index: 10;
}
ul.bannerUl li:first-child {
  position: relative;
  top: -5px;
}

.heading-des {
  max-width: 580px;
  margin: 0 auto;
}

.work-box img {
  position: relative;
}
.rotation-img {
  -webkit-animation: rotation 15s infinite linear;
  animation: rotation 15s infinite linear;
}

ul.check-list li {
  padding-bottom: 12px;
  display: inline-block;
  width: 100%;
}

ul.check-list li span {
  width: 18px;
  height: 18px;
  line-height: 18px;
  border-radius: 100%;
  display: block;
  text-align: center;
  float: left;
  position: relative;
  top: 4px;
}

ul.check-list li p {
  padding-left: 10px;
  width: calc(100% - 18px);
  float: left;
}

.feature-icon img {
  transition: all 400ms ease;
}

.h-border {
  border-bottom: 3px dashed;
}

.circle {
  width: 38px;
  height: 38px;
  border: 2px solid;
  border-radius: 100%;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
}
.circle span {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.lineCot {
  max-width: 250px;
  margin: 0 auto;
  padding-top: 25px;
  width: 100%;
}
.lineCot2 {
  max-width: 250px;
  margin: 0 auto;
  width: 100%;
  position: absolute;
  top: -220px;
}
/* 上下标题的文字 */
.date-title {
  font-weight: 700;
  position: absolute;
  width: 100%;
  left: 0;
  top: -100px;
}

.main-roadmap {
  margin-top: 200px;
}

.team-img {
  width: 156px;
  height: 156px;
  border-radius: 100%;
  overflow: hidden;
  border: 5px solid;
  float: left;
  transition: all 400ms ease;
}
.team-des {
  width: calc(100% - 156px);
  float: left;
  padding-left: 20px;
}

.member-name {
  padding-bottom: 5px;
  font-weight: bold;
}

.exp-blog-wrapper {
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: 7px;
  text-align: left;
  font-family: 'Rubik', sans-serif;
}
.post-img a img {
  display: block;
}
.exp-blog-content {
  padding: 30px;
}
