body,
html {
  color: #fff;
  background: #000;
}
a,
p,
a:hover {
  color: #fff;
}

/* 公共颜色 */
.theme {
  color: #1ba7f4;
}
.white {
  color: #fff;
}
.borderTheme {
  border-color: #1ba7f4;
}

/* 按钮 */
.btn {
  color: #fff;
  background: #1ba7f4;
}
.btn:hover {
  color: rgba(255, 255, 255, 0.95);
}

/* 导航 */
.menu ul li:hover a {
  color: #1ba7f4;
}
.menu ul li a:before {
  background: #1ba7f4;
}
.fixed {
  background: rgb(0 0 0 / 95%);
  box-shadow: 0 0 0 1px rgb(24 24 30);
}

/* 内容 */
.circle span {
  background: #1ba7f4;
}

.exp-blog-wrapper {
  border: 1px solid #1ba7f4;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
